.switcher {
  cursor: pointer;
  display: inline-block;

  &__field {
    display: none;
  }

  &__slider {
    width: 4rem;
    height: 2rem;
    display: block;
    position: relative;
    border-radius: 1rem;
    background: var(--switcher-bg-color);

    &::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1rem;
      transition: transform 0.4s ease, background-color 0.4s ease;
      background-color: var(--bg-color);
      transform: translateX(2rem);
      position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
    }
  }

  &__field:checked + &__slider::before {
    transform: translateX(0);
  }
}
